useDynLib(interprocess, .registration = TRUE)
import(Rcpp)

export(`mutex`)
export(`queue`)
export(`semaphore`)

export(`hash`)
export(`uid`)

S3method(with, mutex)
S3method(with, queue)
S3method(with, semaphore)

S3method(as.character, interprocess)
S3method(format,       interprocess)
S3method(print,        interprocess)
