useDynLib(interprocess, .registration = TRUE)

export(`mutex`)
export(`msg_queue`)
export(`semaphore`)

export(`hash`)
export(`uid`)

S3method(with, mutex)
S3method(with, msg_queue)
S3method(with, semaphore)

S3method(as.character, interprocess)
S3method(format,       interprocess)
S3method(print,        interprocess)
